@import "./../../styles.scss";

.hero {
  @include poppins;
  max-height: 1080px;
  max-width: 1440px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.left {
  position: relative;
  z-index: -1;
  margin-left: 47px;

  &::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -14%;
    width: 152%;
    height: 126%;
    background-image: url(./../../assets/img/images/shadows/photoshadow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    pointer-events: none;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 75px;
  margin-left: 20px;
  a {
    text-decoration: none;
    color: white;
    background-color: rgba(112, 230, 28, 1);
    padding: 15px 30px;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      scale: 1;
    }
  }

  .info-section {
    display: flex;
    align-items: center;
    width: 890px;
    height: 172px;
  }
  .iam {
    font-weight: 400;
    font-size: 74px;
    transform: rotate(-90deg);
    width: 165px;
    height: 76px;
    line-height: 150%;
  }
  .text {
    h1 {
      font-weight: 700;
      font-size: 90px;
      line-height: 120%;
    }
    h2 {
      font-weight: 400;
      line-height: 120%;
      font-size: 63px;
      color: rgba(151, 71, 255, 1);
    }
  }
}

.contact-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  .scroll-indicator {
    p {
      font-weight: 400;
      font-size: 23px;
      color: rgba(255, 255, 255, 1);
      right: -70px;
      cursor: pointer;
      position: relative;
      z-index: 33;
      transform: rotate(90deg);
      text-align: left;
    }
  }
}

.bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  margin-top: 50px;
  hr {
    width: 100px;
    border: 1px solid rgba(151, 71, 255, 1);
    border-radius: 50px;
    height: 1px;
    background-color: rgba(151, 71, 255, 1);
  }
  a {
    .icon {
      width: 30px;
      height: 30px;
      transition: transform 70ms ease-in-out;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  p {
    font-weight: 400;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }
}

.background {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 610px;
  top: 510px;
  left: 0;
}

.line.two {
  position: absolute;
  top: 888px;
  width: calc((100dvw - 1440px) / 2);
  left: 0;
  border: 1px solid rgba(151, 71, 255, 1);
  height: 1px;
  background-color: rgba(151, 71, 255, 1);
}
