@media screen and (max-width: 1350px) {
  .container {
    justify-content: space-around !important;
  }
  .right {
    margin-left: 0 !important;
    width: 100% !important;
  }
  h1 {
    font-size: 70px !important;
  }
  h2 {
    font-size: 49px !important;
  }
  .iam {
    width: 112px !important;
    height: 54px !important;
    font-size: 50px !important;
  }

  .info-section {
    width: 690px !important;
  }
}

@media screen and (max-width: 1115px) {
  .scroll-indicator {
    p {
      display: none !important;
    }
  }
  .container {
    flex-direction: column !important;
  }
  .right {
    gap: 0 !important;
  }
  .left {
    margin-left: 0 !important;
  }
  .info-section {
    justify-content: center !important;
    white-space: nowrap !important;
    h1 {
      font-size: 60px !important;
    }
    h2 {
      font-size: 42px !important;
    }
    .iam {
      width: 79px !important;
      height: 54px !important;
      font-size: 50px !important;
      justify-content: center;
      display: flex;
      line-height: 100% !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .profile-image {
    width: 300px !important;
    height: auto !important;
  }
  .background {
    height: 290px !important;
    top: 450px !important;
  }
  .bar {
    hr {
      width: 95vw !important;
      justify-content: center !important;
    }
    p {
      display: none !important;
    }
  }
  .contact-bar {
    justify-content: center !important;
  }
  .info-section {
    .iam {
      width: 60px !important;
      height: 35px !important;
      font-size: 32px !important;
    }
    h1 {
      font-size: 44px !important;
    }
    h2 {
      font-size: 31px !important;
    }
  }
}
