<section class="hero">
  <div class="container">
    <div class="left">
      <img
        src="./../../assets/img/images/taylan/taylanhero.png"
        alt="Taylan Umucu"
        class="profile-image"
      />
    </div>

    <div class="right slidehero">
      <div class="info-section">
        <div class="iam">I am</div>
        <div class="text">
          <h1>Taylan Umucu</h1>
          <h2>FRONTEND DEVELOPER</h2>
        </div>
      </div>
      <a class="cta" (click)="scrollToSection('contact')">Let’s talk!</a>
    </div>
  </div>

  <div class="contact-bar">
    <div class="bar">
      <hr />
      <a href="https://github.com/Taylan5567"
        ><img
          class="icon"
          src="./../../assets/img/icons/github.png"
          alt="GitHub"
        />
      </a>
      <a href="mailto:oezguer.taylan@umucu.de"
        ><img class="icon" src="./../../assets/img/icons/mail.png" alt="Email"
      /></a>
      <a href="http://www.linkedin.com/in/taylan-umucu-83132325b"
        ><img
          class="icon"
          src="./../../assets/img/icons/linkedin.png"
          alt="LinkedIn"
        />
      </a>
      <p>oezgur.taylan&#64;umucu.de</p>
    </div>
    <div class="scroll-indicator">
      <p>{{ "HERO.SCROLL" | translate }} →</p>
    </div>
  </div>
</section>
<img
  class="background"
  src="./../../assets/img/images/background/herobackground.png"
  alt=""
/>
