@import "./../../styles.scss";

.hero {
  background-color: #141d2f;
  @include poppins;
}

.picture {
  position: absolute;
  left: 165px;
  top: 106px;
}

.herobackground {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
  height: 100vh;
}

.picturecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.hero_text {
  @include fcc;
  .iam {
    rotate: -90deg;
    color: white;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
  }
  .name {
    color: white;
    font-size: 90px;
    font-weight: 900;
    z-index: 1;
    position: relative;
    line-height: 120%;
  }

  .subtitle {
    color: #9747ff;
    font-size: 63px;
    font-weight: 400;
    line-height: 120%;
    position: relative;
    z-index: 1;
  }
}

.hero_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  position: relative;
  z-index: 1;
}

.contactbtn {
  @include poppins;
  background-color: #70e61c;
  box-shadow: 4px 4px 4px 0px #00000040;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 23px;
  font-weight: 400;
  color: white;
  border: none;

  &:hover {
    background-color: #9747ff;
    transform: scale(1.1);
    transition: 200ms ease-in-out;
  }
}

.social {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  hr {
    border: 2px solid #9747ff;
    width: 100px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  img {
    height: 30px;
    width: 30px;
  }

  p {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0%;
    color: white;
  }
}

.socialscroll {
  position: relative;
  z-index: 2;
  @include fsc;
  .scroll {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .scrolldown {
    color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    rotate: 90deg;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  img {
    width: 24px;
    height: 24px;
    rotate: -90deg;
  }
}
