<div class="hero">
  <div class="picture">
    <div class="picturecontainer">
      <img src="./../../assets/img/images/taylan/taylanhero.png" />
      <div class="hero_title">
        <div class="hero_text">
          <p class="iam">I am</p>
          <div class="hero_subtitle">
            <p class="name">Taylan Umucu</p>
            <p class="subtitle">FRONTEND DEVELOPER</p>
          </div>
        </div>
        <div class="hero_button">
          <button class="contactbtn">Let's talk!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="socialicons"></div>
  <div class="background">
    <img
      class="hero-shadow"
      src="./../../assets/img/images/shadows/photoshadow.png"
    />
    <img
      class="herobackground"
      src="./../../assets/img/images/background/herobackground.png"
    />
  </div>
  <div class="socialscroll">
    <div class="social">
      <hr />
      <img class="socialicon" src="./../../assets/img/icons/github.png" />
      <img class="socialicon" src="./../../assets/img/icons/mail.png" />
      <img class="socialicon" src="./../../assets/img/icons/linkedin.png" />
      <p>oezgur.taylan<span>&#64;</span>umucu.de</p>
    </div>
    <div class="scroll">
      <p class="scrolldown">
        Scroll down
        <img
          class="scrollicon"
          src="./../../assets/img/icons/arrow-down-line.png"
        />
      </p>
    </div>
  </div>
</div>
