<button mat-icon-button (click)="toggleSidenav()">
  <mat-icon *ngIf="!isOpen">density_medium</mat-icon>
  <mat-icon *ngIf="isOpen">close</mat-icon>
</button>

<div class="fullscreen-sidebar" [class.open]="isOpen">
  <div class="sidebar-content" (click)="$event.stopPropagation()">
    <div class="headercontainer">
      <header>
        <img
          class="logo"
          src="./../../../assets/img/logo/logo_taylan_weiss.png"
          href="/"
        />
        <button mat-icon-button (click)="closeDrawer()">
          <mat-icon *ngIf="isOpen">close</mat-icon>
        </button>
      </header>
    </div>
    <mat-nav-list
      ><a
        class="nav-link"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        (click)="closeDrawer()"
      >
        Home
      </a>
      <a
        class="nav-link"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        [queryParams]="{ scrollTo: 'about' }"
        (click)="scrollToSection('about'); closeDrawer()"
        >{{ "NAV.ABOUT" | translate }}</a
      >
      <a
        class="nav-link"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        [queryParams]="{ scrollTo: 'skills' }"
        (click)="scrollToSection('skills'); closeDrawer()"
        >{{ "NAV.SKILLS" | translate }}</a
      >
      <a
        class="nav-link"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        [queryParams]="{ scrollTo: 'portfolio' }"
        (click)="scrollToSection('portfolio'); closeDrawer()"
        >{{ "NAV.PORTFOLIO" | translate }}</a
      >
      <a
        class="nav-link"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        [queryParams]="{ scrollTo: 'contact' }"
        (click)="scrollToSection('contact'); closeDrawer()"
        >{{ "NAV.CONTACT" | translate }}</a
      >
      <li>
        <a
          class="navLangs"
          [class.active]="checklanguage('de')"
          (click)="switchLang('de'); closeDrawer()"
          >DE</a
        >
        /
        <a
          class="navLangs"
          [class.active]="checklanguage('en')"
          (click)="switchLang('en'); closeDrawer()"
          >EN</a
        >
      </li>
    </mat-nav-list>
  </div>
</div>
