@import "./../../../styles.scss";

.container {
  background-color: rgba(20, 29, 47, 1);
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  display: flex;
  position: sticky;
  top: 0;
}

.headercontainer {
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(20, 29, 47, 1);
  padding: 37px 100px;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;

  li {
    list-style: none;
    text-decoration: none;
  }
}

header {
  @include fsc;
  .logo {
    width: 150px;
  }

  .nav {
    flex-direction: row;
    display: flex;
    gap: 29px;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 92px;
  }
}

.lang {
  flex-direction: row;
  display: flex;
  gap: 14px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 23px;
  font-weight: 400;
  position: relative;
  cursor: pointer;

  &:hover {
    color: #70e61c;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #9747ff;
    transition: width 0.5s ease-in-out;
  }

  &:hover::after {
    width: 50%;
  }
}

@keyframes underlineEffect {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 50%;
  }
}

.navLang {
  text-decoration: none;
  color: white;
  padding: 5px 8px;
  @include fcc;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #70e61c;
  border-radius: 10px;
  line-height: 120%;
  cursor: pointer;

  &.active {
    background-color: #70e61c !important;
  }

  &:hover {
    background-color: #70e61c;
    transition: all 0.2s ease-in-out;
  }
}

@keyframes slide {
  0% {
    text-underline-offset: 0px;
  }
  100% {
    text-underline-offset: 3px;
  }
}
