@import "./../../../styles.scss";

.header {
  padding: 10px;
  background-color: #141d2f;
  padding: 37px 100px;

  li {
    list-style: none;
    text-decoration: none;
  }
}

header {
  @include fsc;
  max-width: 1920px;

  img {
    width: 150px;
  }

  .nav {
    flex-direction: row;
    display: flex;
    gap: 29px;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 92px;
  }
}

.lang {
  flex-direction: row;
  display: flex;
  gap: 14px;
}

.navLink {
  color: white;
  text-decoration: none;
  @include poppins;
  font-size: 23px;
  font-weight: 400;
  &:hover {
    color: #70e61c;
  }
  &.active {
    text-underline-position: linear;
    text-decoration: underline;
    color: #9747ff;
  }
}

.navLang {
  @include poppins;
  text-decoration: none;
  color: white;
  padding: 5px 8px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #70e61c;
  border-radius: 10px;

  &:hover {
    background-color: #70e61c;
  }
}
