<div class="container">
  <div class="headercontainer">
    <header>
      <a
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        (click)="scrollToTop()"
      >
        <img
          class="logo"
          src="./../../../assets/img/logo/logo_taylan_weiss.png"
          href="/"
        />
      </a>
      <nav>
        <ul class="nav">
          <li>
            <a
              class="navLink"
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              (click)="scrollToTop()"
            >
              Home
            </a>
          </li>
          <li>
            <a
              class="navLink"
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              [queryParams]="{ scrollTo: 'about' }"
              (click)="scrollToSection('about')"
              >{{ "NAV.ABOUT" | translate }}</a
            >
          </li>
          <li>
            <a
              class="navLink"
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              [queryParams]="{ scrollTo: 'skills' }"
              (click)="scrollToSection('skills')"
              >{{ "NAV.SKILLS" | translate }}</a
            >
          </li>
          <li>
            <a
              class="navLink"
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              [queryParams]="{ scrollTo: 'portfolio' }"
              (click)="scrollToSection('portfolio')"
              >{{ "NAV.PORTFOLIO" | translate }}</a
            >
          </li>
          <li>
            <a
              class="navLink"
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              [queryParams]="{ scrollTo: 'contact' }"
              (click)="scrollToSection('contact')"
              >{{ "NAV.CONTACT" | translate }}</a
            >
          </li>
        </ul>
        <ul class="lang">
          <li>
            <a
              class="navLang"
              [class.active]="checklanguage('de')"
              (click)="switchLang('de')"
              >DE</a
            >
          </li>
          <li>
            <a
              class="navLang"
              [class.active]="checklanguage('en')"
              (click)="switchLang('en')"
              >EN</a
            >
          </li>
        </ul>
      </nav>
      <app-mobile-header></app-mobile-header>
    </header>
  </div>
</div>
