<div class="header">
  <header>
    <img src="./../../../assets/img/logo/logo_taylan_weiss.png" href="/" />
    <nav>
      <ul class="nav">
        <li><a class="navLink" routerLink="/about">About</a></li>
        <li><a class="navLink" routerLink="/portfolio">Skills</a></li>
        <li><a class="navLink" routerLink="/contact">Portfolio</a></li>
        <li><a class="navLink" routerLink="/contact">Contact</a></li>
      </ul>
      <ul class="lang">
        <li><a class="navLang" routerLink="/">DE</a></li>
        <li><a class="navLang" routerLink="/">EN</a></li>
      </ul>
    </nav>
  </header>
</div>
