@import "./../../styles.scss";
@import "./portfolio.mobile.scss";

.mobilecontainer {
  position: relative;
}

section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1304px !important;
  box-sizing: border-box;
  width: 100%;
}

.slide-trigger {
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.slide-trigger.in-view {
  opacity: 1;
  transform: translateX(0);
}

.myprojects {
  gap: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lineportfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
  height: 108px;

  h1 {
    font-weight: 700;
    font-size: 90px;
    text-align: center;
    color: white;
  }
  .lineone {
    width: 100px;
    height: 0px;
    background-color: rgba(151, 71, 255, 1);
    border: 2px solid rgba(151, 71, 255, 1);
    border-radius: 50px;
  }
  .linetwo {
    width: 100vw;
    height: 0px;
    background-color: rgb(151, 71, 255);
    border: 2px solid rgb(151, 71, 255);
    border-radius: 50px;
    margin-right: -100vw;
  }
}

.explore {
  @include fcc;
  margin-bottom: 32px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.portfolioshadow {
  position: absolute;
  top: 2945px;
  height: 920px;
  overflow: hidden;
  object-position: right;
  z-index: -2;
  transform: scaleX(-1);
  right: 0;
}

.mobile {
  display: none;
}
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
