@import "./../../styles.scss";

.myprojects {
  margin: 0 0 0 136px;
  gap: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1304px;
}

.lineportfolio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
  height: 108px;

  h1 {
    font-weight: 700;
    font-size: 90px;
    text-align: center;
    color: white;
  }
  .lineone {
    width: 100px;
    height: 0px;
    background-color: rgba(151, 71, 255, 1);
    border: 2px solid rgba(151, 71, 255, 1);
    border-radius: 50px;
  }
  .linetwo {
    width: 507px;
    height: 0px;
    background-color: rgba(151, 71, 255, 1);
    border: 2px solid rgba(151, 71, 255, 1);
    border-radius: 50px;
  }
}

.explore {
  @include fcc;
  margin-bottom: 32px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
