@import "./../../styles.scss";

section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1340px;
  position: relative;
  top: 133px;
  gap: 30px;
  color: white;
}

.linecontact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  .lineone {
    width: 535px;
    border-radius: 50px;
    border: 2px solid rgba(151, 71, 255, 1);
  }
  h1 {
    color: white;
    font-weight: 700;
    font-size: 90px;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  .solve {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    gap: 24px;
    width: 474px;

    margin-left: 100px;
  }
  span {
    font-weight: 700;
  }
}
