@import "./../../styles.scss";
@import "./contact.mobile.scss";

.contactcontainer {
  position: relative;
  margin-bottom: 100px;
}

section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1340px;
  gap: 30px;
  color: white;
  margin: 0 auto;
  width: 100%;
}

.linecontact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  .lineone {
    width: 100vw;
    height: 0px;
    background-color: rgb(151, 71, 255);
    border: 2px solid rgb(151, 71, 255);
    border-radius: 50px;
    margin-left: -100vw;
  }
  h1 {
    color: white;
    font-weight: 700;
    font-size: 90px;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  .solve {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    gap: 24px;
    width: 474px;

    margin-left: 100px;
  }
  span {
    font-weight: 700;
  }
}

.contactshadow {
  position: absolute;
  height: 700px;
  overflow: hidden;
  object-position: right;
  z-index: -2;
  left: 0;
  bottom: -100px;
}

.arrowup {
  display: flex;
  justify-content: flex-end;
}

.arrow {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 5px;

  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    border: 2px solid rgba(112, 230, 28, 1);
  }
}
