<div class="footercontainer">
  <footer>
    <div class="footername">
      <img
        class="logo"
        src="./../../../assets/img/logo/logo_taylan_weiss.png"
      />
      <p class="imprint">{{ "FOOTER.IMPRINT" | translate }}</p>
    </div>
    <div class="footercopy">
      <p>© 2025 Özgür Taylan Umucu</p>
    </div>

    <div class="footericons">
      <img src="./../../../assets/img/icons/github.png" alt="" />
      <img src="./../../../assets/img/icons/mail.png" alt="" />
      <img src="./../../../assets/img/icons/linkedin.png" alt="" />
    </div>
  </footer>
</div>
