@import "./../../../styles.scss";
@import "./footer.mobile.scss";

.footer {
  border-top: 4px solid rgba(112, 230, 28, 1);
}

.footercontainer {
  background-color: #141d2f;
  padding: 37px 100px;
  color: white;
  @include poppins;
  margin: 0 auto;
  max-height: 291px;
  box-sizing: border-box;

  .logo {
    width: 216px;
  }
  .footericons {
    display: flex;
    justify-content: space-between;
    width: 174px;
    .icon {
      transition: ease-in-out 0.3s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  .imprint {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
  }
}

footer {
  @include fsc;
  height: 291px;

  .footercopy {
    font-size: 23px;
    font-weight: 400;
  }
}

.imprintmobile {
  display: none;
}
