@import "./../../../styles.scss";

.footercontainer {
  background-color: #141d2f;
  padding: 37px 100px;
  color: white;
  @include poppins;
  margin: 0 auto;

  .logo {
    width: 216px;
  }
  .footericons {
    display: flex;
    justify-content: space-between;
    width: 174px;
  }
  .imprint {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
  }
}

footer {
  @include fsc;
  height: 291px;

  .footercopy {
    font-size: 23px;
    font-weight: 400;
  }
}
