<section class="footcontainer">
  <hr class="footer" />
  <div class="footercontainer">
    <footer>
      <div class="footername">
        <img
          class="logo"
          src="./../../../assets/img/logo/logo_taylan_weiss.png"
        />
        <a routerLink="/imprint" (click)="scrollToTop()"
          ><p class="imprint">{{ "FOOTER.IMPRINT" | translate }}</p></a
        >
      </div>
      <div class="footercopy">
        <p>© 2025 Özgür Taylan Umucu</p>
      </div>

      <div class="footericons">
        <a href="https://github.com/Taylan5567">
          <img
            src="./../../../assets/img/icons/github.svg"
            class="icon"
            alt=""
          />
        </a>
        <a href="mailto:oezguer.taylan@umucu.de">
          <img src="./../../../assets/img/icons/mail.svg" class="icon" alt="" />
        </a>
        <a href="http://www.linkedin.com/in/taylan-umucu-83132325b">
          <img
            src="./../../../assets/img/icons/linkedin.svg"
            class="icon"
            alt=""
          />
        </a>
      </div>
      <a class="imprintmobile" routerLink="/imprint" (click)="scrollToTop()"
        ><p>{{ "FOOTER.IMPRINT" | translate }}</p></a
      >
    </footer>
  </div>
</section>
