@import "./../../styles.scss";

@media screen and (max-width: 1440px) {
  .greenline {
    display: none;
  }
}

@media screen and (max-width: 1170px) {
  .aboutleft {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .aboutright {
    img {
      height: 373px !important;
      width: 373px !important;
    }
  }
  .aboutmain {
    padding: 0 !important;
    gap: 102px;
  }
}

@media screen and (max-width: 1000px) {
  .aboutright {
    img {
      height: 300px !important;
      width: 300px !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .aboutright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .aboutmain {
    @include fcc;
  }
  .aboutleft {
    justify-items: flex-start !important;
    align-items: flex-start !important;
    h1 {
      font-size: 45px !important;
      text-align: left;
    }
    p {
      font-size: 16px !important;
    }
  }
  .shadow {
    width: 281px !important;
    height: 600px !important;
    top: 954px !important;
  }
}

@media screen and (max-width: 500px) {
  .aboutmain {
    padding: 0 15px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .about {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-around !important;
    gap: 40px !important;
    height: auto !important;
  }

  h1 {
    font-size: 48px !important;
  }

  .abouttext {
    font-size: 14px !important;
    gap: 20px !important;
    width: 100% !important;

    .text {
      gap: 12px !important;
    }
  }
}
