<section class="aboutmain">
  <div class="background">
    <img src="./../../assets/img/images/shadows/aboutmeshadow.png" />
  </div>
  <div class="about">
    <div class="aboutleft">
      <h1>{{ "ABOUT.TITLE" | translate }}</h1>
      <div class="abouttext">
        <p class="text">
          {{ "ABOUT.PARAGRAPH_1" | translate }}
        </p>
        <p class="text">
          <img src="./../../assets/img/icons/desktop.png" />{{
            "ABOUT.PARAGRAPH_2" | translate
          }}
        </p>
        <p class="text">
          <img src="./../../assets/img/icons/location.png" />{{
            "ABOUT.PARAGRAPH_3" | translate
          }}
        </p>
        <p class="text">
          <img src="./../../assets/img/icons/puzzel.svg" />{{
            "ABOUT.PARAGRAPH_4" | translate
          }}
        </p>
      </div>
    </div>
    <div class="aboutright">
      <img src="./../../assets/img/images/taylan/face.png" alt="" />
      <hr />
    </div>
  </div>
</section>
