@import "./../../styles.scss";
@import "./about.mobile.scss";

.aboutmain {
  @include poppins;
  z-index: 1;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  transition: all 0.5s ease;
  position: relative;
}

.slideabout {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.slideabout.in-view {
  opacity: 1;
  transform: translateX(0);
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 532px;
  margin: 0 auto;

  .aboutleft {
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .aboutright {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 453px;
      width: 453px;
      border-radius: 100%;
      border: solid 4px #70e61c;
      position: relative;
      z-index: 1;
    }
    hr {
      border: solid 2px #70e61c;
      width: 105vw;
      height: 0px;
      border-radius: 50px;
      margin-right: -100vw;
    }
  }
}

h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 120%;
}

.abouttext {
  display: flex;
  flex-direction: column;
  width: 471px;
  gap: 32px;
  font-size: 16px;
  line-height: 120%;
  .text {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    gap: 16px;
    z-index: -1;
  }
}

.shadow {
  position: absolute;
  right: 0;
  top: 820px;
  width: auto;
  height: 670px;
  overflow: hidden;
  object-fit: cover;
  object-position: left;
  z-index: -1;
}
