<div class="aboutmain">
  <div class="background">
    <img src="./../../assets/img/images/shadows/aboutmeshadow.png" />
  </div>
  <div class="about">
    <div class="aboutleft">
      <h1>About Me</h1>
      <div class="abouttext">
        <p class="text">
          Since the age of 16, I have been fascinated by programming. Every
          project brings new experiences and insights. I love improving my
          skills and discovering new technologies.
        </p>
        <p class="text">
          <img src="./../../assets/img/icons/desktop.png" />I live in Munich and
          am open to all possibilities. I enjoy working from anywhere, whether
          remotely or in the office, where I also feel comfortable.
        </p>
        <p class="text">
          <img src="./../../assets/img/icons/location.png" />I am always eager
          to learn and grow, mastering new technologies and refining my skills
          to stay ahead in the ever-evolving world of programming.
        </p>
        <p class="text">
          <img src="./../../assets/img/icons/puzzel.svg" />I approach problems
          with analytical thinking and creativity, always seeking the most
          efficient and elegant solution. Every challenge is an opportunity to
          learn, refine my skills, and improve my persistence. I value
          collaboration, knowing that working together leads to the best
          results.
        </p>
      </div>
    </div>
    <div class="aboutright">
      <img src="./../../assets/img/images/taylan/face.png" alt="" />
      <hr />
    </div>
  </div>
</div>
