<div class="policy-wrapper">
  <section class="policy">
    <h1>{{ "PRIVACY.TITLE" | translate }}</h1>

    <p>{{ "PRIVACY.INTRO" | translate }}</p>
    <p>{{ "PRIVACY.GENERAL" | translate }}</p>

    <h2>{{ "PRIVACY.CONTROLLER.TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACY.CONTROLLER.NAME" | translate }}<br />
      {{ "PRIVACY.CONTROLLER.ADDRESS" | translate }}<br />
      {{ "PRIVACY.CONTROLLER.PHONE" | translate }}<br />
      <a href="mailto:oezguer.taylan@umucu.de">
        {{ "PRIVACY.CONTROLLER.EMAIL" | translate }}
      </a>
    </p>

    <h2>{{ "PRIVACY.DATA_COLLECTION.TITLE" | translate }}</h2>
    <h3>{{ "PRIVACY.DATA_COLLECTION.SERVER_LOGS.TITLE" | translate }}</h3>
    <p>{{ "PRIVACY.DATA_COLLECTION.SERVER_LOGS.TEXT" | translate }}</p>
    <ul>
      <li>{{ "PRIVACY.DATA_COLLECTION.SERVER_LOGS.LIST.0" | translate }}</li>
      <li>{{ "PRIVACY.DATA_COLLECTION.SERVER_LOGS.LIST.1" | translate }}</li>
      <li>{{ "PRIVACY.DATA_COLLECTION.SERVER_LOGS.LIST.2" | translate }}</li>
      <li>{{ "PRIVACY.DATA_COLLECTION.SERVER_LOGS.LIST.3" | translate }}</li>
      <li>{{ "PRIVACY.DATA_COLLECTION.SERVER_LOGS.LIST.4" | translate }}</li>
      <li>{{ "PRIVACY.DATA_COLLECTION.SERVER_LOGS.LIST.5" | translate }}</li>
    </ul>
    <p>{{ "PRIVACY.DATA_COLLECTION.CONTACT" | translate }}</p>

    <h2>{{ "PRIVACY.COOKIES.TITLE" | translate }}</h2>
    <p>{{ "PRIVACY.COOKIES.TEXT" | translate }}</p>

    <h2>{{ "PRIVACY.RIGHTS.TITLE" | translate }}</h2>
    <p>{{ "PRIVACY.RIGHTS.TEXT" | translate }}</p>
    <ul>
      <li>{{ "PRIVACY.RIGHTS.LIST.0" | translate }}</li>
      <li>{{ "PRIVACY.RIGHTS.LIST.1" | translate }}</li>
      <li>{{ "PRIVACY.RIGHTS.LIST.2" | translate }}</li>
      <li>{{ "PRIVACY.RIGHTS.LIST.3" | translate }}</li>
      <li>{{ "PRIVACY.RIGHTS.LIST.4" | translate }}</li>
      <li>{{ "PRIVACY.RIGHTS.LIST.5" | translate }}</li>
    </ul>

    <h2>{{ "PRIVACY.COMPLAINT.TITLE" | translate }}</h2>
    <p>{{ "PRIVACY.COMPLAINT.TEXT" | translate }}</p>
    <p>{{ "PRIVACY.COMPLAINT.AUTHORITY" | translate }}</p>

    <h2>{{ "PRIVACY.CHANGES.TITLE" | translate }}</h2>
    <p>{{ "PRIVACY.CHANGES.TEXT" | translate }}</p>
  </section>
</div>
