<section class="porti">
  <div class="project-right">
    <img src="./../../../assets/img/projects/join.png"/>
    <div class="project-content">
      <h1>Join</h1>
      <h2>Angular | TypeScript | HTML | CSS | Firebase</h2>
      <p>{{ "PRO.JOIN" | translate }}</p>
      <div class="btn">
        <a href="https://oezguer-taylan.umucu.de/projects/join/" target="_blank" class="demo">Live test</a>
        <a href="https://github.com/Taylan5567/Join" target="_blank" class="github">GitHub</a>
      </div>
    </div>
  </div>
   <div class="project-left">
    <img src="./../../../assets/img/projects/polloloco.png"/>
    <div class="project-content">
      <h1>El Pollo Loco</h1>
      <h2>HTML | CSS | JavaScript</h2>
      <p>
        {{ "PRO.POCO" | translate }}
      </p>
      <div class="btn">
        <a href="https://oezguer-taylan.umucu.de/projects/elpolloloco/" target="_blank" class="demo">Live test</a>
        <a href="https://github.com/Taylan5567/elpolloloco" target="_blank" class="github">GitHub</a>
      </div>
    </div>
  </div>
   <div class="project-right">
    <img src="./../../../assets/img/projects/pokedex.png"/>
    <div class="project-content">
      <h1>Pokédex</h1>
      <h2>JavaScript | HTML | CSS | Api</h2>
      <p>{{ "PRO.POKEDEX" | translate }}</p>
      <div class="btn">
        <a href="https://oezguer-taylan.umucu.de/projects/pokedex/" target="_blank" class="demo">Live test</a>
        <a href="https://github.com/Taylan5567/Pokedex" target="_blank" class="github">GitHub</a>
      </div>
    </div>
  </div>
</section>
