@import "./../../../styles.scss";
@import "./projects.mobile.scss";

.porti {
  width: 100%;
}

.project-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 200px;
  text-align: right;
  max-height: 339px;
  img {
    height: 339px;
    width: 620px;
    object-fit: none;
  }
  .btn {
    margin-top: 15px;
    display: flex;
    gap: 86px;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 23px;
    align-items: center;

    .demo {
      padding: 15px 30px;
      background-color: rgba(151, 71, 255, 1);
      border-radius: 10px;
      color: white;
      text-decoration: none;
      transition: ease-in-out 0.3s;
      &:hover {
        transform: scale(1.1);
        background-color: rgba(112, 230, 28, 1);
      }
    }
    .github {
      padding: 15px 30px;
      border-radius: 10px;
      color: white;
      border: 1px solid rgba(112, 230, 28, 1);
      text-decoration: none;
      transition: ease-in-out 0.3s;

      &:hover {
        transform: scale(1.1);
        background-color: rgba(112, 230, 28, 1);
        border: 1px solid rgba(112, 230, 28, 1);
      }
    }
  }
}

.project-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 200px;
  text-align: left;
  max-height: 339px;
  img {
    height: 339px;
    width: 620px;
    object-fit: none;
  }
  .btn {
    margin-top: 15px;
    display: flex;
    gap: 86px;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 23px;
    align-items: center;

    .demo {
      padding: 15px 30px;
      background-color: rgba(151, 71, 255, 1);
      border-radius: 10px;
      color: white;
      text-decoration: none;
      transition: ease-in-out 0.3s;
      &:hover {
        transform: scale(1.1);
        background-color: rgba(112, 230, 28, 1);
      }
    }
    .github {
      padding: 15px 30px;
      border-radius: 10px;
      color: white;
      border: 1px solid rgba(112, 230, 28, 1);
      text-decoration: none;
      transition: ease-in-out 0.3s;

      &:hover {
        transform: scale(1.1);
        background-color: rgba(112, 230, 28, 1);
        border: 1px solid rgba(112, 230, 28, 1);
      }
    }
  }
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 513px;
  gap: 15px;
  color: white;
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: rgba(151, 71, 255, 1);
  }
  h2 {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: rgba(112, 230, 28, 1);
  }
}
