<section>
  <div class="testmonialcontainer">
    <div class="testimonial">
      <p>
        {{ currentTestimonial.text }}
      </p>
      <div class="name">
        <hr />
        <span
          >{{ currentTestimonial.name }} - {{ currentTestimonial.pos }}</span
        >
      </div>
    </div>
    <div class="testpic">
      <img [src]="currentTestimonial.img" alt="{{ currentTestimonial.name }}" />
      <hr />
    </div>
  </div>
  <div class="btns">
    <svg
      (click)="pop()"
      class="prev"
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      viewBox="0 0 24 24"
      width="24"
    >
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
    </svg>
    <svg
      [classList]="currentIndex == 0 ? 'circleone active' : 'circle'"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <circle cx="10" cy="10" r="8" />
    </svg>
    <svg
      [classList]="currentIndex == 1 ? 'circleone active' : 'circle'"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <circle cx="10" cy="10" r="8" />
    </svg>
    <svg
      [classList]="currentIndex == 2 ? 'circleone active' : 'circle'"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <circle cx="10" cy="10" r="8" />
    </svg>
    <svg
      (click)="next()"
      class="next"
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      viewBox="0 0 24 24"
      width="24"
    >
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
    </svg>
  </div>
</section>
