@use "@angular/material" as mat;
@include mat.core();

@mixin poppins {
  font-family: "Poppins", sans-serif;
}

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fsc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  font-family: "Poppins";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141d2f;
}

app-root {
  overflow-x: clip !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
  )
);

@include mat.all-component-themes($my-theme);
