@use "@angular/material" as mat;
@include mat.core();

@mixin poppins {
  font-family: "Poppins", sans-serif;
}

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fsc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
}
