@use "@angular/material" as mat;
@include mat.core();

@mixin poppins {
  font-family: "Poppins", sans-serif;
}

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fsc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  font-family: "Poppins";
  scrollbar-width: none;
  body {
    background-color: #141d2f;
    margin: 0 auto;
    overflow-x: hidden !important;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
