<div class="impressum-wrapper" id="impressum">
  <section class="impressum">
    <h1>{{ "IMPRINT.TITLE" | translate }}</h1>

    <p>
      <strong>{{ "IMPRINT.OWNER" | translate }}</strong>
    </p>
    <p>
      {{ "IMPRINT.NAME" | translate }}<br />{{ "IMPRINT.ADDRESS" | translate }}
    </p>

    <p>
      <strong>{{ "IMPRINT.CONTACT" | translate }}</strong
      ><br />
      {{ "IMPRINT.PHONE" | translate }}<br />
      <a href="mailto:oezguer.taylan@umucu.de">{{
        "IMPRINT.EMAIL" | translate
      }}</a>
    </p>

    <p>
      <strong>{{ "IMPRINT.RESPONSIBLE" | translate }}</strong
      ><br />
      {{ "IMPRINT.NAME" | translate }}<br />
      {{ "IMPRINT.ADDRESS" | translate }}
    </p>

    <h2>{{ "IMPRINT.DISCLAIMER_TITLE" | translate }}</h2>

    <h3>{{ "IMPRINT.LIABILITY_CONTENT" | translate }}</h3>
    <p>{{ "IMPRINT.LIABILITY_CONTENT_TEXT_1" | translate }}</p>
    <p>{{ "IMPRINT.LIABILITY_CONTENT_TEXT_2" | translate }}</p>

    <h3>{{ "IMPRINT.LIABILITY_LINKS" | translate }}</h3>
    <p>{{ "IMPRINT.LIABILITY_LINKS_TEXT_1" | translate }}</p>
    <p>{{ "IMPRINT.LIABILITY_LINKS_TEXT_2" | translate }}</p>

    <h2>{{ "IMPRINT.COPYRIGHT" | translate }}</h2>
    <p>{{ "IMPRINT.COPYRIGHT_TEXT_1" | translate }}</p>
    <p>{{ "IMPRINT.COPYRIGHT_TEXT_2" | translate }}</p>

    <h2>{{ "IMPRINT.NOTICE" | translate }}</h2>
    <p>{{ "IMPRINT.NOTICE_TEXT" | translate }}</p>
  </section>
</div>
