<div class="container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="input-group">
      <input
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        [placeholder]="'CONTACTFORM.NAME' | translate"
        #name="ngModel"
        required
        pattern="^[A-Za-zÄÖÜäöüß\s\-']{2,}$"
      />
      <span class="error"
        >@if (name.invalid && name.touched) {
        {{ "CONTACTFORM.NAME_REQUIRED" | translate }}
        }</span
      >
    </div>

    <div class="input-group">
      <input
        [(ngModel)]="contactData.email"
        id="email"
        name="email"
        type="email"
        [placeholder]="'CONTACTFORM.EMAIL' | translate"
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        required
        #email="ngModel"
      />

      <span class="error"
        >@if (email.invalid && email.touched) {
        {{ "CONTACTFORM.EMAIL_INVALID" | translate }}
        }</span
      >
    </div>

    <div class="input-group">
      <input
        [(ngModel)]="contactData.phone"
        id="phone"
        name="phone"
        type="tel"
        pattern="^(\+49|0)[\s()\-]*[1-9][0-9\s()\-]{7,14}$"
        [placeholder]="'CONTACTFORM.PHONE' | translate"
        #phone="ngModel"
      />

      <span class="error"
        >@if (phone.invalid && phone.touched) {
        {{ "CONTACTFORM.PHONE_INVALID" | translate }}
        }</span
      >
    </div>

    <div class="input-group">
      <textarea
        [(ngModel)]="contactData.message"
        id="message"
        name="message"
        [placeholder]="'CONTACTFORM.TEXTAREA' | translate"
        minlength="20"
        required
        #message="ngModel"
      ></textarea>
      <span class="error"
        >@if (message.invalid && message.touched) {
        {{ "CONTACTFORM.MESSAGE_TOO_SHORT" | translate }}
        }</span
      >
    </div>

    <div class="submitbtn">
      <div class="ppolice">
        <input
          type="checkbox"
          class="checkbox"
          type="checkbox"
          #checkbox="ngModel"
          [(ngModel)]="contactData.checkbox"
          id="checkbox"
          name="checkbox"
          required
        />
        <p class="text">
          {{ "CONTACTFORM.READ_PRIVACY" | translate }}
          <a
            class="policy"
            routerLink="/private-policy"
            (click)="scrollToTop()"
            >{{ "CONTACTFORM.READ_PRIVACY_TEXT" | translate }}</a
          >
          {{ "CONTACTFORM.READ_PRIVACY_NEXT" | translate }}
        </p>
      </div>
      <span class="error"
        >@if (checkbox.touched && !contactData.checkbox) {
        {{ "CONTACTFORM.ACCEPT_PRIVACY" | translate }}
        }</span
      >
      <div class="btn">
        <input
          id="submit"
          type="submit"
          value="Send message :)"
          [disabled]="contactForm.invalid || !contactData.checkbox"
        />
      </div>
    </div>
  </form>
</div>
<div class="overlay" *ngIf="isSubmitting || submitSuccess">
  <div class="overlay-box">
    <ng-container *ngIf="isSubmitting">
      <div class="loader"></div>
      <p>{{ "CONTACTFORM.SENDING" | translate }}</p>
    </ng-container>
    <ng-container *ngIf="submitSuccess">
      <div class="success-icon">✅</div>
      <p>{{ "CONTACTFORM.SENT_SUCCESS" | translate }}</p>
    </ng-container>
  </div>
</div>
