@media screen and (max-width: 1100px) {
  .container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  input,
  textarea {
    width: 253px;
    height: 58px;
    max-width: 100% !important;
    font-size: 16px !important;
  }

  .checkbox {
    width: 24px !important;
  }
}

@media screen and (max-width: 600px) {
  form {
    gap: 5px !important;
  }

  .submitbtn {
    align-items: center !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    font-size: 15px !important;
    padding: 14px 22px !important;
    width: 80% !important;
  }

  .btn input {
    font-size: 20px !important;
    height: 54px !important;
  }

  .ppolice {
    gap: 8px !important;
    width: 80% !important;
  }

  input[type="checkbox"] {
    min-width: 22px !important;
    min-height: 22px !important;
  }
}

@media screen and (max-width: 500px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    font-size: 14px !important;
    padding: 12px 18px !important;
  }

  .btn input {
    font-size: 18px !important;
    height: 50px !important;
  }

  .text,
  .policy,
  .error {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 400px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    font-size: 13px !important;
    padding: 0px 16px !important;
  }
  textarea {
    padding: 10px 16px !important;
  }

  .btn input {
    font-size: 17px !important;
    height: 48px !important;
  }

  .text,
  .policy {
    font-size: 12px !important;
  }

  input[type="checkbox"] {
    min-width: 22px !important;
    min-height: 22px !important;
  }
}

@media screen and (max-width: 320px) {
  form {
    gap: 24px !important;
  }

  textarea {
    min-height: 120px !important;
  }

  .btn input {
    font-size: 16px !important;
    height: 45px !important;
  }

  .ppolice {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .submitbtn {
    gap: 10px !important;
  }

  .error {
    font-size: 12px !important;
  }
}
