<section class="skills">
  <div class="icons">
    <div class="icon">
      <img src="./../../assets/img/icons/html.png" alt="HTML5" />
      <p>HTML5</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/css.png" alt="CSS" />
      <p>CSS</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/script.png" alt="JavaScript" />
      <p>JavaScript</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/typescript.png" alt="TypeScript" />
      <p>TypeScript</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/angular.png" alt="Angular" />
      <p>Angular</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/firebase.png" alt="Firebase" />
      <p>Firebase</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/git.png" alt="Git" />
      <p>Git</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/api.png" alt="RestApi" />
      <p>Rest Api</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/scrum.png" alt="scrum" />
      <p>Scrum</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/Material.png" alt="MaterialDesign" />
      <p>Material Design</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/wordpress.png" alt="Wordpress" />
      <p>Wordpress</p>
    </div>
    <div class="icon">
      <img
        class="purple-icon"
        src="./../../assets/img/icons/learning.svg"
        alt="Continuallylearning"
      />
      <p class="purple-text">{{ "SKILLS.TITLE" | translate }}</p>
    </div>
  </div>
  <div class="myskills">
    <div class="myskills-header">
      <h1 class="title">{{ "SKILLS.SUBTITLE" | translate }}</h1>
      <div class="line"></div>
    </div>

    <p class="subtext">
      {{ "SKILLS.DESCRIPTION" | translate }}
    </p>

    <p class="highlight">
      {{ "SKILLS.LOOKING_FOR" | translate }}
      <span class="purple">{{ "SKILLS.SKILL" | translate }}</span>
    </p>

    <p class="bottom-text">
      {{ "SKILLS.PASSION" | translate }}
    </p>

    <button class="contact-btn">{{ "SKILLS.CONTACT" | translate }}</button>
  </div>
</section>
