.myskills.mobile,
.subtext {
  display: none;
}

@media screen and (max-width: 1440px) {
  .myskills.mobile {
    display: none !important;
  }
}

@media screen and (max-width: 1230px) {
  .skills {
    justify-content: space-around !important;
  }
  .icons {
    grid-template-columns: repeat(3, 1fr) !important;
    height: 60vh !important;
  }
  .myskills.line {
    width: 100vw !important;
  }
}

@media screen and (max-width: 1070px) {
  .skills {
    left: 50px;
  }
  .line {
    width: 95vw !important;
  }
}

@media screen and (max-width: 1000px) {
  .myskills-header {
    display: none !important;
    max-width: none !important;
  }
  .skills {
    height: 100vh !important;
    left: 0;
  }
  .myskills.mobile {
    display: block !important;
  }
  .skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .icons {
    grid-template-columns: repeat(4, 1fr) !important;
    height: 60vh !important;
  }

  .myskills {
    max-width: none !important;
    @include fcc;
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }

  .mobile-header {
    justify-content: flex-end !important;
  }
  .highlight {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0 !important;
  }
  .bottom-text {
    margin: 0 !important;
  }
  .contact-btn {
    margin: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .icons {
    gap: 40px !important;
    height: 40vh !important;
  }
}
