<section class="skills">
  <div class="icons">
    <div class="icon">
      <img src="./../../assets/img/icons/html.png" alt="HTML5" />
      <p>HTML5</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/css.png" alt="CSS" />
      <p>CSS</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/script.png" alt="JavaScript" />
      <p>JavaScript</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/typescript.png" alt="TypeScript" />
      <p>TypeScript</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/angular.png" alt="Angular" />
      <p>Angular</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/firebase.png" alt="Firebase" />
      <p>Firebase</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/git.png" alt="Git" />
      <p>Git</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/api.png" alt="RestApi" />
      <p>Rest Api</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/scrum.png" alt="scrum" />
      <p>Scrum</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/Material.png" alt="MaterialDesign" />
      <p>Material Design</p>
    </div>
    <div class="icon">
      <img src="./../../assets/img/icons/wordpress.png" alt="Wordpress" />
      <p>Wordpress</p>
    </div>
    <div class="icon">
      <img
        class="purple-icon"
        src="./../../assets/img/icons/learning.svg"
        alt="Continuallylearning"
      />
      <p class="purple-text">Continually learning</p>
    </div>
  </div>
  <div class="myskills">
    <div class="myskills-header">
      <h1 class="title">My skills</h1>
      <div class="line"></div>
    </div>

    <p class="subtext">
      I use HTML, CSS, JavaScript, TypeScript, Angular, Firebase, and Git to
      build modern web apps.
    </p>

    <p class="highlight">
      Looking for <span class="purple">another skill?</span>
    </p>

    <p class="bottom-text">
      I’m passionate about learning new technologies and frameworks. I love
      staying up-to-date and applying fresh ideas to my projects.
    </p>

    <button class="contact-btn">Get in touch</button>
  </div>
</section>
